@model IEnumerable<Atelier1.Models.Employee>

@{
    ViewData["Title"] = "Index";
}
<head>
    <!-- Autres balises head... -->
    <!-- Inclure le fichier CSS spécifique à cette page -->
    <link rel="stylesheet" href="~/css/index.css" />
</head>
<h1 class="display-4">Liste des Employees </h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<form class="form-inline my-2 my-lg-0" asp-action="Search" asp-controller="Employee">
    <input class="form-control mr-sm-2" name="term" type="search" placeholder="Search"
           aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>

<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Departement)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Salary)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Departement)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salary)
                    </td>
                    <td>
                        <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
           
        </tbody>
    </table>
</div>
<div>
    Nombre d'employés : @ViewData["EmployeesCount"]
</div>
<div>
    Salaire Moyen : @ViewData["SalaryAverage"]
</div>
<div>
    Salaire Max : @ViewData["MaxSalary"]
</div>
<div>
    Nombre d'employés du département HR : @ViewData["HREmployeesCount"]
</div>
<div>
    <a asp-action="Index">Afficher tous les employés</a>
</div>
